@import "bootstrap";

/* universal */

body {
  padding-top: 0px;
  background-color: #dddddd;
}

h2 {
  text-align: center;
  text-color: #000000;
}

horizontal {
  float: left;
}

review-header {
  background-color: #dddddd;
}

profile-header {
  background-color: #dddddd;
}

.panel-default > .panel-heading-login {
    background: #909090; 
    color: #dddddd;
}

.panel-default > .panel-heading-profile {
    background: #eeeeee; 
    color: #000000;
}

.panel-default > .panel-heading-review {
    background: #eeeeee; 
    color: #000000;
}

.panel-default > .panel-heading-product {
    background: #eeeeee; 
    color: #000000;
}

.panel-default > .panel-heading-list {
    background: #eeeeee; 
    color: #000000;
}

.panel-default > .panel-heading-new {
    background: #eeeeee; 
    color: #000000;
}

.panel-default > .panel-list {
    background: #dddddd;
}

p {
  margin-top: 1em;
  margin-bottom: 0em;
}

table {
  border-collapse: separate;
  border-spacing: 0 5px;
}

thead th {
  background-color: #202020;
  color: white;
}

tbody td {
  background-color: #f9f9f9;
}

tr td:first-child,
tr th:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

tr td:last-child,
tr th:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
